* {
    box-sizing: border-box
}

html, body, #app, .App, #worldmap {
    height: 100%;
    margin: 0;
}

.CommandConsole {
    z-index: 500;
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    background: transparent;
    max-height: 50%;
}

.CommandConsole, .History {
    font-family: "SF Mono", "Monaco", "Consolas", "Droid Sans Mono", "Ubuntu mono", monospace;
}

.CommandBar {
    background: white;
    width: 100%;
    border: 2px solid rgba(160, 160, 162, .7);
    padding: .325em;
    border-radius: 0.375rem;
}

.CommandBar:focus {
    border-color: black;
    color: black;
}

.Suggestions,
.History {
    display: block;
    width: 95%;
    background: rgba(255, 255, 255, .7);
    margin: auto;
    margin-bottom: 0;
    font-size: smaller;
    padding: 0.5em;
    border: 1px solid black;
    border-bottom: 0;
}

ol.Suggestions,
ol.History {
    padding-left: 2em;
}

.hidden {
    display: none;
}

.notification {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    padding: 1em;
    z-index: 501;
    box-shadow: 1px 2px 10px black;
    border: 1px solid gray;
    background-color: #EEEEEE;
    color: black;
}

.notification.error {
    background-color: #FFEAEA;
    border-color: red;
}

.notification button.close {
    position: absolute;
    top: 1em;
    right: 1em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.leaflet-container {
    background: #133146;
}

.legend {
    position: absolute;
    top: 4.3em;
    left: 1em;
    padding: 1em;
    padding-right: 3em;
    z-index: 501;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

@font-face{
    font-family: TitleFont;
    src: url('fonts/FreebooterUpdated.ttf')
}
.titlebar {
    font-family: 'TitleFont';
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    padding: 0.1em;
    height: 1.56em;
}
.atlastitlebaricon {
    width: 4em;
    height: 4em;
    z-index: 999;
    position: fixed;
    vertical-align: top;
    margin-left: -64px;
    margin-top: -0.8em;
}
.atlasbackgroundlogo {
    width: 512px;
    height: 512px;
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
    opacity: 0.025;
}